@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Quattrocento&family=Quicksand:wght@300&family=Sacramento&family=Sofia&family=Spectral:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Nunito:wght@400;500&family=Quattrocento&family=Quicksand:wght@300&family=Sacramento&family=Sofia&family=Spectral:wght@300;400&family=Yeseva+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Nunito", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Sofia";
  padding: 1rem;
  margin: 0px;
  color: #e9839e;
}

.login-nav-btn {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 40px;
  width: 120px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-family: "Nunito";
  background-color: #193f43b2;
  color: #ffffff;
}

.login-nav-btn:hover {
  background-color: #6e969c;
}

.nav-container {
  /* height: rem; */
  display: flex;
  width: 100%;
  height: 100px;
  border-bottom: rgba(150, 150, 150, 0.648) solid 1px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.navbar-image-thumbnail {
  /* max-width: 20px; */
  max-height: 50px;
  border-radius: 1rem;
}

.navbar-username-welcome {
  font-family: "Nunito";
  color: #245c62dd;
  font-size: 16px;
  margin: 0px;
}

/*Login Page*/

#login-container {
  height: 30%;
  width: max-content;
  padding: 10rem;
  margin: 40px auto;
  /* display: flex; */
  background-color: #ffffff;
}

.input-login {
  display: block;
  margin-bottom: 50px;
}

.input-login input {
  padding: 10px 8px;
  width: 80%;
  font-size: 16px;
  font-family: "Nunito";
  background: #b9d0d3;
  border: none;
  color: #4b4b4b;
  border-radius: 4px;
  outline: none;
}

.input-login input:hover {
  background: #6e969c;
}

.input-login input:focus {
  box-shadow: 0px 0px 0px 1px #ffffff;
}

.login-btn {
  padding: 10px 18px;
  font-size: 1.5rem;
  font-family: "Nunito";
  width: 50%;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #193f43b2;
  color: #ffffff;
}

.login-btn:hover {
  background-color: #274043;
  color: #ffffff;
}

/*Country page*/
.country-header {
  font-family: "Nunito";
  font-size: 48px;
  cursor: pointer;
  padding: 4rem;
  color: #343434;
  /* text-decoration: underline; */
}

.filter-posts-buttons-container {
  display: flex;
  justify-content: center;
  /* padding: 1rem; */
  /* background-color: #981616; */
}

.filter-btn {
  width: 200px;
  border-radius: 1rem;
  margin: 20px;
  padding: 2rem;
  border: none;
  font-size: 24px;
  font-family: "Nunito";
  background-color: #193f43b2;
  color: white;
}

.filter-btn:hover {
  background-color: #dddddd;
  color: #193f43b2;
}

/*Posts*/
.post-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-card {
  justify-content: space-around;
  width: 500px;
  background-color: #a2a2a23a;
  height: 700px;
  margin: 10px;
  border-radius: 1rem;
  padding: 2rem;
}

.card-user-thumbnail {
  max-width: 20%;
  max-height: 10%;
  object-position: 0rem;
  border-radius: 1rem;
}

.post-user-name {
  font-size: 18px;
  font-family: "Nunito";
}

p {
  font-size: 14px;
  font-family: "Nunito";
  font-weight: 400;
}

.travel-image-thumbnail {
  max-width: 70%;
  max-height: 70%;
  object-position: 0rem;
}

.card-edit-btn {
  font-size: 14px;
  padding: 1rem;
  margin: 60px;
  width: 100px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #626262;
  color: #ffffff;
}

.card-city-country {
  font-size: 40px;
  font-weight: 400;
  font-family: "Sofia";
  padding: 1rem;
  margin: 0px;
  color: #245c62dd;
}

/*Account page*/

.account-post-card {
  justify-content: space-around;
  width: 500px;
  background-color: #a2a2a23a;
  height: 900px;
  margin: 10px;
  border-radius: 1rem;
  padding: 2rem;
}

.account-container-padding {
  padding: 10rem;
}

.post-form-container {
  height: 30%;
  width: 30%;
  padding: 5rem;
  margin: 40px auto;
  /* display: flex; */
  background-color: #a2a2a23a;
  border-radius: 2rem;
}

.select-country {
  font-size: 18px;
  font-family: "Nunito";
  border-radius: 1rem;
  padding: 8px;
  border: none;
}

.form-label {
  font-size: 18px;
  font-family: "Nunito";
  color: #000000;
}
